body{
  background-color: rgb(76, 38, 241);
}
p {
  color:rgb(43, 204, 204);
  }
  h2 {
font-size: 35px;
color: rgb(250, 250, 250);
  }

#structure{
    color: red;
  }
  #code{
    color: brown;
  }
  #history{
    color: yellow;
  }
  .myfirstclass{
    text-align: center;
    font-size: 15px;
    color:white;
  }
  .mysecondclass{
    text-align: left;
    font-size: 20px;
    color: white;
  }
  .mythirdclass{
text-align: right;
font-size: 25px;
color: white;
}